
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --bg-color: #ffff;
    --color: #1f5b8f;
    --fg-color: #315a79;
    --txt-color: #9fb7ca;
    --tag-color: #ba4989;
    --tg-color: #db6551;
    --tg1-color: #e69a54;
    --tg2-color: #c23e5d;
    --tg3-color: #e8094b;
    --tg4-color: #dd2a7d;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

button {
    background: var(--tg-color);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

button:hover {
    background: var(--bg-color);
    color: var(--color);
    transition: 0.6s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color);
}

.hidden {
    display: none;
}
